@import "./variables.scss";

.container {
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0rem 4.5rem;
}

.informationContainer {
  font-family: $secondary-font;
  color: #615a71;
  font-size: 0.875em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 1em;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .socialsList {
    list-style: none;
  }
}

@media all and (max-width: 375px) {
  .container {
    margin: 0rem 1rem;
  }
}


