@import "./variables.scss";

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0; /* Adjust this value based on your image width */
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative; /* Ensure positioning context for child elements */
  overflow: hidden; /* Hide overflowing content */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/beachBack.png"); /* Use an absolute path to test */
  background-repeat: repeat-x;
  animation: moveBackground 20s linear infinite;
  z-index: -1; /* Ensure the background is behind other content */
}

.buttonContainer {
  position: absolute; /* Position the element absolutely */
  bottom: 0; /* Align to the bottom of the container */
  width: 100%; /* Full width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.leftArrow {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}

.playerInformation {
  position: absolute; /* Position the element absolutely */
  top: 0; /* Align to the top of the container */
  left: 0; /* Align to the left of the container */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start of the container */
  gap: 10px; /* Optional: add space between the elements */
  padding: 20px; /* Optional: add padding around the container */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: add a semi-transparent background for readability */
}
