@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:wght@700&display=swap");

//typography
$main-font: "Press Start 2P", cursive; //'Press Start 2P', cursive;
$secondary-font: "Space Mono", monospace;
$normal: 400;
$bold: 700;
$lightColor: #615a71;
